@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg-color: #1a0b2e;
  --secondary-color: #00ff88;
  --bg-gradient: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  color: #fff;
  max-width: 160rem;
  background-color: var(--bg-color);
}

.btn-primary {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 700;
  padding: 1.2rem 1.6rem;
  background: var(--bg-gradient);
  border-radius: 5rem;
  color: inherit;
  cursor: pointer;
  border: none;
}

.btn-primary:hover {
  background: linear-gradient(to bottom left, #f7e93f, #fb09b4, #9100f8);
  color: var(--secondary-color);
}

.btn-primary-trns {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 700;
  padding: 1.2rem 1.6rem;
  border-radius: 5rem;
  background-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  margin-left: 0.8rem;
  margin-top: 2.4rem;
}

.btn-primary-trns:hover {
  background: var(--bg-gradient);
  color: #fff;
  border: transparent;
}

span {
  font-size: 5rem;
  background: var(--bg-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span:hover {
  background: linear-gradient(to bottom left, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.align {
  width: 75%;
  max-width: 120rem;
  margin: 0 auto;
}

.title {
  font-size: clamp(4.8rem, 4vw, 5.8rem);
  font-weight: bold;
  text-align: center;
}

.para {
  font-size: clamp(1.4rem, 1rem + 1.2vw, 2rem);
  color: #ffffff60;
  line-height: 1.5;
}

/* Navigation Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo h2 {
  margin-top: 2.6rem;
}

.nav-logo h2 a {
  font-size: clamp(4.8rem, 3vw, 5.6rem);
  text-decoration: none;
  color: inherit;
}
.nav-menu {
  display: flex;
}

.nav-menu li {
  list-style: none;
}
.nav-menu a {
  color: inherit;
  text-decoration: none;
  list-style: none;
  margin-left: 3.2rem;
}

.hamburger img {
  display: none;
}

/* Hero Section */

.hero {
  background: url(./assets/hero-bg.png) no-repeat center / cover;
  min-height: 76rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
  margin-top: 3rem;
  border-top: 1px solid rgb(110, 108, 108);
}

.microphone {
  background: url(./assets/hero-circle.png) no-repeat center;
  min-height: 35rem;
  max-width: 35rem;
  position: relative;
}

.badge h4 {
  font-size: 1.8rem;
  font-weight: 700;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 0.8rem 1.6rem;
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  box-shadow: 0 3px 27px 0 var(--secondary-color);
}

.mic {
  background-size: auto;
  padding: 120px 120px;
}
.hero-content {
  margin-top: 3rem;
  text-align: center;
}

.hero-content h2 {
  font-size: clamp(6rem, 4vw, 7rem);
  font-weight: 900;
  margin-bottom: 0.8rem;
}

/* Podcast Section */

.podcast {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 12rem;
}
.podcast-content {
  max-width: 90rem;
}
.podcast-content h2 {
  margin-bottom: 1.6rem;
}

hr {
  width: 100%;
  max-width: 120rem;
  margin: 8rem auto;
  border: none;
  height: 0.1rem;
  background-color: rgb(107, 107, 107);
}

.items h2 {
  font-size: clamp(4.8rem, 4vw, 5.8rem);
  font-weight: bold;
  color: var(--secondary-color);
}

.total-cast {
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10rem;
}

/* Why Choose Section */

.choose-section {
  background-color: #230e3d;
}

.why-choose {
  padding-bottom: 12rem;
}

.why-choose > h2 {
  margin-bottom: 4rem;
  padding-top: 12rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header main    main"
    "header card    card"
    "footer footer  card2";
  align-items: center;
  gap: 3rem;
}

.card {
  background-color: #35116540;
  border-radius: 4rem;
  padding: 4rem;
}

.cards .card-1 {
  grid-area: header;
}
.cards .card-2 {
  grid-area: main;
}
.cards .card-3 {
  grid-area: card;
}
.cards .card-4 {
  grid-area: footer;
}
.cards .card-5 {
  grid-area: card2;
}

.card h2 {
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  font-weight: bold;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}

/* Featured Section */

.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
}

.featured-section h2 {
  margin-bottom: 4rem;
  text-overflow: hidden;
  margin-top: 12rem;
}

.video-card {
  background-color: #250d44;
  max-width: 38rem;
  min-height: 44rem;
  border-radius: 2.4rem;
}

.video-card iframe {
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;
}

.video-content {
  padding: 2.4rem;
}

.time {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-top: 1.2rem;
}

.video-card h3 {
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  margin-bottom: 1.2rem;
}

/* Host Section */

.host-section {
  margin: 12rem auto;
}

.host-content {
  margin-top: 4rem;
  padding: 4rem;
  background-color: #351165;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.text h3 {
  font-size: clamp(3.2rem, 1.5rem + 1vw, 4rem);
  margin-bottom: 1.6rem;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  gap: 6rem;
  justify-items: center;
  margin-top: 1.6rem;
}

.icon {
  border: 1px solid #533c72;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 4rem;
}

.icon:hover {
  background-color: #533c72;
}

.icon img {
  width: 2rem;
  height: 2rem;
}

/* Footer Section */

footer {
  background: url(./assets/footer-bg.png) no-repeat center / cover;
  max-width: 160rem;
  min-height: 41.2rem;
  text-align: center;
  padding: 10rem;
}

.footer-icons {
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-icon {
  max-width: 55rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 3rem;
}

@media screen and (max-width: 576px) {
  .nav-menu,
  .btn {
    display: none;
  }
  .hamburger img {
    display: block;
  }
  .total-cast {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .cards {
    grid-template-areas:
      "header   header    header"
      "main     main      main"
      "card     card      card"
      "footer   footer    footer"
      "card2    card2     card2";
  }
  .why-choose {
    width: 95%;
  }
  .featured {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 95%;
  }
  .host-content {
    margin-top: 4rem;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1.4rem;
  }
  .icon {
    margin-left: 1rem;
  }
  .host-content {
    width: 95%;
  }
  .icons {
    gap: clamp(8rem, 2rem + 2vw, 6rem);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .t-align {
    width: 85%;
    max-width: 120rem;
    margin: 0 auto;
  }
  .nav-menu a {
    margin-left: 1.2rem;
  }
  .btn-primary {
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
  }
  .total-cast {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    grid-template-areas:
      "header   header    header"
      "main     main      main"
      "card     card      card"
      "footer   footer    footer"
      "card2    card2     card2";
  }
  .why-choose {
    width: 85%;
  }
  .featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 85%;
  }
  .host-content {
    width: 85%;
  }
}
